.header {
    height: 300px;
    position: relative;
}

.header__bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: url(../../images/backgrounds/bg-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: brightness(0.8);
}

.header__nav {
    background: rgba(4,67,98,.25);
    position: relative;
}

.header__nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-list {
    display: flex;
    align-items: center;
    margin-left: -24px;
}

@media(max-width: 767px) {
    .header__nav-list {
        display: none;
    }
}

.header__dropdown-content .header__nav-list {
    display: block;
    margin: 0;
}

.header__dropdown-content {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    font-size: 15px;
    padding: 12px 20px;
    border-radius: 6px;
    background: rgba(8, 8, 8, 0.5);
    transform-origin: top right;
    transform: scale(0);
    opacity: 0;
}

.header__dropdown-btn--is-active .header__dropdown-content {
    transition: all 200ms ease-out;
    transform: scale(1);
    opacity: 1;
}

.header__nav-item {
    display: block;
}

.header__nav-link {
    color: white;
    display: inline-block;
    position: relative;
    line-height: 48px;
    padding: 0 24px;
}
.header__nav-link::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    background: linear-gradient(to bottom, rgba(37, 37, 192, 0), rgba(37, 37, 192, 0.5), rgba(37, 37, 192, 0));
    opacity: 0;
}
.header__nav-link:hover {
    color: #ffffff;
}
.header__nav-link:hover::after {
    opacity: 1;
}
.header__nav-link-text {
    position: relative;
    z-index: 1;
}

.header__dropdown-content .header__nav-link {
    line-height: 2;
    white-space: nowrap;
    text-align: right;
    padding: 0;
    color: #ffffff;
}
.header__dropdown-content .header__nav-link::after {
    content: none;
}
.header__dropdown-content .header__nav-link:hover {
    color: #7cd038;
    background: transparent;
}

.header__dropdown {
    position: relative;
    font-size: 0;
    z-index: 10;
}

@media(max-width: 767px) {
    .header__dropdown {
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left: auto;
    }
}

.header__dropdown-btn {
    display: inline-flex;
    font-size: 0;
    background: transparent;
    border: none;
    padding: 12px 0;
    cursor: pointer;
}

.header__dropdown-btn-circle {
    background: #ffffff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 2px;
    transition: all 300ms ease;
}

.header__dropdown-btn--is-active .header__dropdown-btn-circle {
    background: #7cd038;
}

.header__dropdown-btn--is-active .header__dropdown-btn-circle--first {
    transform: translateX(24px);
}

.header__dropdown-btn--is-active .header__dropdown-btn-circle--third {
    transform: translateX(-24px);
}

.header__dropdown-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.header__main {
    padding-top: 110px;
}

.header__categories {
    position: relative;
    width: 50px;
    height: 50px;
}

.header__categories-item {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-right: 4px;
}

.header__categories-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 0;
    background: center top no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 0px solid white;
    z-index: 1;
}
.header__categories-btn.is-first {
    left: 0;
}
.header__categories-btn.is-second {
    left: 54px;
}
.header__categories-btn.is-third {
    left: calc(54px * 2);
}
.header__categories-btn.is-fourth {
    left: calc(54px * 3);
}
.header__categories-btn.is-selected {
    z-index: 2;
}
.header__categories-btn:not(.is-selected) {
    opacity: 0;
    pointer-events: none;
    transition: none;
}
.header--page-list .header__categories-btn:not(.is-selected) {
    opacity: 1;
    pointer-events: all;
    transition: all 400ms ease-out;
}
.header--page-list .header__categories-btn:hover {
    border-width: 2px;
    transition: all 100ms ease-out;
}
.header--page-main .header__categories-btn.is-selected {
    transform: matrix(4, 0, 0, 4, 76, 68);
    left: 0;
    border-radius: 3px;
    transition: all 400ms ease-out;
}
.header--page-item .header__categories-btn.is-selected {
    transform: matrix(3, 0, 0, 3, 51, -33);
    left: 0;
    border-radius: 3px;
    transition: all 400ms ease-out;
}

.header__categories-title {
    display: none;
    position: absolute;
    color: white;
    top: calc(100% + 20px);
    left: 0;
    font-size: 35px;
}

.header__categories-btn:hover + .header__categories-title,
.header__categories-btn.is-selected + .header__categories-title {
    display: block;
}

.header__categories-title {
    opacity: 0;
    pointer-events: none;
}
.header--page-list .header__categories-title {
    opacity: 1;
    pointer-events: all;
}

.header__item {
    position: relative;
    width: 100%;
    height: 15px;
}

.header__item-name {
    font-size: 35px;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.header--page-main .header__item-name {
    transform: matrix(1, 0, 0, 1, 0, 160);
    transition: all 400ms ease-out;
}
.header--page-item .header__item-name {
    color: white;
    transform: matrix(0.75, 0, 0, 0.75, 136, 26);
    transition: all 400ms ease-out;
}
.header--page-list .header__item-name {
    transform: matrix(0.75, 0, 0, 0.75, 136, 26);
    opacity: 0;
}

.header__item-btn {
    cursor: pointer;
    background: #7cd038;
    font-size: 16px;
    color: white;
    border: none;
    width: 150px;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    font-weight: bold;
    transition: background, transform 200ms ease;
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, 0);
}
.header__item-btn:hover {
    background: #4a732a;
}
.header--page-main .header__item-btn {
    transform: matrix(1, 0, 0, 1, 220, 113);
}
.header--page-list .header__item-btn {
    transform: matrix(1, 0, 0, 1, 220, 113);
    opacity: 0;
}
.header--page-item .header__item-btn {
    transform: matrix(1, 0, 0, 1, 0, 32);
}
