.preloader {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 24px;
    width: 50px;
    height: 50px;
}

.preloader::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    border-radius: 100%;
    animation: clockwise 0.75s steps(8, end) infinite;
    box-shadow: 12px -12px 0 rgba(0, 0, 0, 0.125), 17px 0 0 -1px rgba(0, 0, 0, 0.25),
        12px 12px 0 -2px rgba(0, 0, 0, 0.375), 0 17px 0 -3px rgba(0, 0, 0, 0.5),
        -12px 12px 0 -4px rgba(0, 0, 0, 0.625), -17px 0 0 -5px rgba(0, 0, 0, 0.75),
        -12px -12px 0 -6px rgba(0, 0, 0, 0.875), 0 -17px 0 -7px rgba(0, 0, 0, 1);
}

@keyframes clockwise {
    to {
        transform: rotate(360deg);
    }
}
